/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 40px 0;
    padding: 0;
  }
  
  p {
    margin: 0;
  }
  
  main {
    margin: auto;
  
  }