/*@import 'scss/_reset.css';
@import 'scss/_typography.css';
@import 'scss/_game.css';
@import 'scss/_layout.css';
@import 'scss/_button.css';*/

/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 36px 0;
    padding: 0;
  }
  
  p {
    margin: 0;
  }
 

body {
  background-image: url("https://image.ibb.co/hu4Pze/imageedit_15_7436764296.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 130px;
  position: absolute;
}

html, body {
    height: 100%;
    width: 100%
}
  
.container {
    margin: 0 20px;
}
  
@media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin:  auto;
    }
}

/* ---- layout ---- */

.container {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
main {
  background:lightgrey;
  width: 40%;  
  height: 65%;

}
body div.box p {
  text-align: center;
}
 
/* ---- typography ---- */

*{
  font-family: 'Press Start 2P', cursive;
 
}

header div span {
    color: #111;
    font-size: 7px;
    line-height: 147%;
  }
  
h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 4px 4px  rgb(78, 3, 3) ;
    color:rgb(161, 5, 5)
  }
  /* ---- Game ---- */

.game {
    text-align: right;
    display: flex;
  }
  
  .game header {
    margin: 10px 10px 0 5px;
    flex-wrap: wrap;
  
  }
  
  header div.time {
    margin-top: 50px;
  }
  header div span.value {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  header div.score{
    margin-top: 50px;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas {
    flex: 1;
  }
  .canvas canvas {
    border:1px solid black;
    padding: 10px auto;
    background-image: url("https://image.ibb.co/dfYZhz/fondo.png");
    background-repeat: unset;
    background-size: 62px;
    height: 97%;
  }

  canvas.bricks {
    position: absolute;
  

  }

  /*button*/

  main button {
    display: flex;
    margin: 20px auto;
    border: none;
    background-color: none;
    font-family: 'Press Start 2P', cursive;
}
  
div.start{
    margin: 0 auto;
    position: relative;
    top:250px;    
}
  /*Components*/

  .box{
    position: relative;
    top:100px;
  }

  .hidden {
    display: none; 
  }

  .screen{
    padding: 50px;
  }


